@model List<EBook>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";



}


<div class="bgded overlay" style="background-image:url('/jeren/images/demo/backgrounds/02.png');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li>BURADAN YORUM SINIRININ YETTİĞİ KİTAPLARI İNDİRİP OKUYABİLİRSİN</li>
            <li><a asp-action="Index" asp-controller="Blog">BLOGLARA GİTMEK İÇİN TIKLAYINIZ</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>

                    <ul class="blog-list">

                        @foreach (var item in Model)
                        {

                            <li class="blog-list">


                                <div class="card" style="width: 18rem;">
                                    <img src="/mainblogimage/booksbyte.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="card-text">@item.Description</p>

                                        @if (User.Identity.IsAuthenticated)
                                        {

                                            if (ViewBag.CommentCount != null)
                                            {
                                                if (ViewBag.CommentCount > item.Price)
                                                {
                                                    if (item.PdfUrl != null && item.PdfUrl.Length > 0)
                                                    {
                                                        <a href="@Url.Action("DownloadPdf", "Bookses", new { pdfName = item.PdfUrl })" class="btn btn-success">Kitabı İndir</a>
                                                    }
                                                    else
                                                    {
                                                        <p class ="btn btn-success">Çok yakında </p>
                                                    }

                                                }

                                                else
                                                {
                                                    <a class="btn btn-primary">Malesef bu kitabı indirmek için yeterli yorumunuz yok</a>
                                                }

                                            }else
                                            {
                                                <button type="submit" class="btn btn-primary">Malesef Yeterli Yorumunuz Yok</button>
                                            }



                                        }


                                        else
                                        {
                                            <p><a asp-action="Login" asp-controller="Account">Lütfen Önce Giriş Yapınız</a></p>
                                        }


                                    </div>
                                </div>

                            </li>
                        }


                    </ul>

                </figure>
            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>
