
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>
<div class="content text-center col-md-12 align-items-md-baseline" >
    <div class="row-cols-4"></div>
</div>