@model List<Category>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Categoriler</h1>
<table>
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Güncelle</th>
            <th>Sil</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        
        <tr>
            
            <td>@item.Name</td>
            <td><a href="/Admin/BlogCategories/EditCategory/@item.Id">Güncelle</a></td>
            <td><a href="/Admin/BlogCategories/DeleteCategory/@item.Id">Sil</a></td>
           
        </tr>
        }
       
    </tbody>
</table>

 <p> <a href="/Admin/BlogCategories/AddCategory">Yeni Kategori Ekle</a></p>  