<aside class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <hr />
            <li>
                <a asp-area="User" asp-action="Index" asp-controller="UserProfile"><i class="fa fa-dashboard fa-fw"></i> Profil</a>
            </li>
            
            <li>
                <a asp-area="User" asp-action="Index" asp-controller="UserBlog"><i class="fa fa-table fa-fw"></i>Bloglarınız</a>
            </li>
            <li>
                <a asp-area="User" asp-action="Index" asp-controller="UserComments"><i class="fa fa-table fa-fw"></i>Yorumlarınız</a>
            </li>
            <li>
                <a asp-area="User" asp-action="Index" asp-controller="UserCourseCode"><i class="fa fa-table fa-fw"></i>Kurs Kodlarınız</a>
            </li>
            <li>
                <a asp-area="User" asp-action="Index" asp-controller="UserOpenToWork"><i class="fa fa-edit fa-fw"></i> İş Başvurularınız</a>
            </li>
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</aside>