<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" asp-area="" asp-controller="Default" asp-action="Index">BugsByteLibrary</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a asp-area="" asp-controller="Default" asp-action="Index"><i class="fa fa-home fa-fw"></i>Siteye Git</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
        
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> Hoşgeldiniz <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a asp-area="User" asp-action="Index" asp-controller="UserProfile"><i class="fa fa-user fa-fw"></i> Profiliniz</a>
                </li>
                
                <li class="divider"></li>
                <li>
                    <a asp-area="" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out fa-fw"></i> Çıkış Yap</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.navbar-top-links -->
</nav>