<!DOCTYPE html>
<html lang="en">

@* Head *@


@await Html.PartialAsync("/Views/AdminLayoutPartial/_AdminHeadPartial.cshtml")
@* Head *@

<body>

    <div id="wrapper">

        <!-- Navigation -->
        @await Html.PartialAsync("/Views/AdminLayoutPartial/_AdminNavbarPartial.cshtml")
        @await Html.PartialAsync("/Views/AdminLayoutPartial/_AdminLeftbarPartial.cshtml")
        
        <!-- /.sidebar -->

       @RenderBody()
        <!-- /#page-wrapper -->

    </div>
@* Script *@



    @await Html.PartialAsync("/Views/AdminLayoutPartial/_AdminScriptPartial.cshtml")
    @RenderSection("Scripts", required: false)

@* Script *@

</body>

</html>