<!DOCTYPE html>
<html lang="en">

@* Head *@


@await Html.PartialAsync("/Views/UserLayoutPartial/_UserHeadPartial.cshtml")
@* Head *@

<body>

    <div id="wrapper">

        <!-- Navigation -->
        @await Html.PartialAsync("/Views/UserLayoutPartial/_UserNavbarPartial.cshtml")
        @await Html.PartialAsync("/Views/UserLayoutPartial/_UserLeftbarPartial.cshtml")

        <!-- /.sidebar -->
        @RenderBody()
        <!-- /#page-wrapper -->

    </div>
    @* Script *@



    @await Html.PartialAsync("/Views/UserLayoutPartial/_UserScriptPartial.cshtml")
    @RenderSection("Scripts", required: false)

    @* Script *@

</body>

</html>




