@model Comment
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog Güncelleme</h1>
            </div>


            <form method="post" asp-action="UpdateComment" asp-controller="UserComments">
                <input type="text" asp-for="CreateDate" />
                <input type="text" asp-for="BlogId" />
                <input type="text" asp-for="AppUserId" value="@ViewBag.UserId" />
                <div class="form-group">
                    <label for="Name">Yorumunuz:</label>
                    <textarea type="text" asp-for="CommentContent" ></textarea>
                    <span asp-validation-for="CommentContent" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary">Güncelle</button>
            </form>

        </div>
    </div>
</div>
