<div class="wrapper row4">
    <footer id="footer" class="hoc clear">

        <div class="one_quarter">
            <h6 class="heading">Yararlı Bağlantılar</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Street Name &amp; Number, Town, Postcode/Zip
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +0 (212) 000 000</li>
                <li><i class="fa fa-envelope-o"></i> info@BugsByteLibrary.com</li>
            </ul>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
        
        <div class="one_quarter">
            <h6 class="heading">Görüş Ve Bildirilerinizi Buradan Yazabilirsiniz</h6>
            <p class="nospace btmspace-30">Görüşleriniz Bizim İçin Değerli Merak Etmeyin Spam Mail Kesinlikle Görmüyeceksiniz</p>
            <form method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <input class="btmspace-15" type="text" value="" placeholder="Görüşünüz">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2024 - Tüm Hakları Saklıdır - <a href="#">BugsByteLibrary</a></p>
       
        <!-- ################################################################################################ -->
    </div>
</div>