

<div class="wrapper row1">
    <header id="header" class="hoc clear">

        <div id="logo" class="fl_left">
            <h1><a asp-controller="Default" asp-action="Index">BugsByteLibrary</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a asp-controller="Default" asp-action="Index">Ana Sayfa</a></li>
                <li>
                    <a class="drop" href="#">Sayfalar</a>
                    <ul>
                        <li><a asp-controller="Blog" asp-action="Index">Bug Blogları</a></li>
                        
                        <li><a asp-action="GetAllInformationBlogCategory" asp-controller="Blog">Bilgilendirici Bloglar</a></li>
                        <li><a asp-action="GetAllCodeBankBlogCategory" asp-controller="Blog">Kod Bankaları</a></li>
                        
                        
                    </ul>
                </li>
                <li>
                    <a class="drop" href="#">BİZDEN SİZLERE</a>
                    <ul>
                        <li><a asp-controller="Hirings" asp-action="Index">İş İlanları</a></li>
                       
                        <li>  <a asp-action="Index" asp-controller="CourseRequest">Kurslar</a></li>

                </li>
                <li><a asp-action="Index" asp-controller="Bookses">Kitaplar</a></li>
                    </ul>
                
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-action="Logout" asp-controller="Account">Çıkış Yap</a></li>
                <li><a asp-area="User" asp-action="Index" asp-controller="UserProfile">PROFİL</a></li>
                }
                else
                {
                    <li><a  asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                    <li><a  asp-controller="Account" asp-action="Register">Kaydol</a></li>
                }
                
            </ul>
        </nav>
        <!-- ################################################################################################ -->
    </header>
</div>