<div class="wrapper row0">
    <div id="topbar" class="hoc clear">

        <div class="fl_left">
            <ul class="nospace">
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="nospace">
                <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="#">Hakkında</a></li>
                <li><a href="#">İletişim</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                }
                
            </ul>
        </div>


    </div>
</div>

<div class="wrapper row1">
    <header id="header" class="hoc clear">

        <div id="logo" class="fl_left">
            <h1><a asp-controller="Default" asp-action="Index">BugsByteLibrary</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a asp-controller="Default" asp-action="Index">Ana Sayfa</a></li>
                <li>
                    <a class="drop" href="#">Sayfalar</a>
                    <ul>
                        <li><a asp-controller="Blog" asp-action="Index">Bloglar</a></li>
                        <li><a asp-controller="Bookses" asp-action="Index">Kitaplar</a></li>
                        <li><a href="/Jeren/pages/sidebar-left.html">Sidebar Left</a></li>
                        <li><a href="/Jeren/pages/sidebar-right.html">Sidebar Right</a></li>
                        <li><a href="/Jeren/pages/basic-grid.html">Basic Grid</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Level 2</a></li>
                        <li>
                            <a class="drop" href="#">Level 2 + Drop</a>
                            <ul>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Level 2</a></li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-action="Logout" asp-controller="Account">Çıkış Yap</a></li>
                }
                else
                {
                    <li><a  asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                    <li><a  asp-controller="Account" asp-action="Register">Kaydol</a></li>
                }
                
            </ul>
        </nav>
        <!-- ################################################################################################ -->
    </header>
</div>