@model List<CourseRequest>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="bgded overlay" style="background-image:url('/jeren/images/demo/backgrounds/02.png');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li>ONLİNE KURS PLATFROMLARINDA Kİ EĞİTİMLERİMİZDEN FAYDALANMAK İÇİN KUPON İSTEĞİNDE BULUNABİLİRSİNİZ.</li>
            <li> E TABİ ÖNCESİNDE BİRAZ DA BUGLARLA İLGİLENMEK İYİ BİR FİKİR OLABAİLİR <a asp-action="Index" asp-controller="Blog">Buglarla Mücadele İçin Tıklayın</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>

                    <ul class="nospace clear">

                        @foreach (var item in Model)
                        {

                            @if (item.Status == true)
                            {

                                <li class="one_quarter">


                                    <div class="card" style="width: 18rem;">
                                        <img src="/mainblogimage/kurslar.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            <p class="card-text">@item.Description</p>


                                            @if (User.Identity.IsAuthenticated)
                                            {
                                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                                                var user = await UserManager.GetUserAsync(User);
                                                var userAppliedJobIds = user.CourseCodes?.Select(x => x.CourseId).ToList() ?? new List<string>(); // bayrak nesnemiz

                                                @if (!userAppliedJobIds.Contains(item.Id))
                                                {
                                                    if (ViewBag.CommentCount != null)
                                                    {
                                                        if (ViewBag.CommentCount > item.Price)
                                                        {
                                                            <form method="post" asp-action="WantCourseCode" asp-controller="CourseRequest">
                                                                <input type="hidden" name="CourseId" value="@item.Id" />
                                                                <button type="submit" class="btn btn-primary">Kod İste</button>
                                                            </form>
                                                        }else
                                                        {
                                                            <button type="submit" class="btn btn-primary">Malesef Yeterli Yorumunuz Yok</button>
                                                        }



                                                    }else
                                                    {
                                                        <button type="submit" class="btn btn-primary">Malesef Yeterli Yorumunuz Yok</button>
                                                    }
                                                }


                                                else
                                                {
                                                    <p class="btn btn-outline-success">Kod İstediniz</p>
                                                }

                                            }
                                            else
                                            {
                                                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success">Lütfen Giriş Yapınız</a>
                                            }





                                        </div>
                                    </div>

                                </li>
                            }




                        }


                    </ul>

                </figure>
            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>

