@model Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateBlog</h1>
<form method="post" asp-controller="UserBlog" asp-action="UpdateBlog">
    <div class="form-group">
        
        <input type="text" asp-for="Name" placeholder="Başlık" class="form-control" />
    </div>
    <div class="form-group">

        <input type="text" asp-for="Title" placeholder="Kısa Açıklama" class="form-control" />
    </div>
    <div class="form-group">
        <textarea type="text" asp-for="Description" placeholder="Blog İçeriği" class="form-control" ></textarea>
    </div>
    <div class="form-group">
        <input type="text" asp-for="ImageUrl" placeholder="Resim" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="AppUserId" value="@ViewBag.UserId" placeholder="UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kategoriler:</label>
        <br />
        @if (ViewBag.Categories != null)
        {
            List<int> selectedCategoryIds = Model.BlogCategories?.Select(c => c.CategoryId ?? 0).ToList() ?? new List<int>();

            foreach (var category in ViewBag.Categories)
            {
                <input type="checkbox" name="SelectedCategoryIds" value="@category.Id"
                @(selectedCategoryIds.Contains(category.Id) ? "checked" : "") />
                <label>@category.Name</label>
                <br />
            }
        }
       
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.0/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Description'
        });
    </script>
}