@model Blog
@{
    ViewData["Title"] = "GetInformationBlogDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <p>BugsByteLibrary Yazısı</p><h1>@Model.Name || Oluşturulma Tarihi : @Model.CreatedDate.ToString("dd/MM/yyyy")</h1>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content three_quarter first">




            <p> @Html.Raw(Model.Content)</p>


            <div class="scrollable">
                @if (Model.ImageUrl != null)
                {
                    <img src="/blogsimages/@Model.ImageUrl" />
                }
                else
                {

                }
            </div>
        </div>

        <div class="sidebar one_quarter">
            <h6>Son Bloglar</h6>
            <nav class="sdb_holder">
                <ul>

                     @await Component.InvokeAsync("_LastSixInformationBlogs")
                    <!-- Diğer menü öğeleri -->
                </ul>
            </nav>
            <!-- Diğer sidebar içeriği -->
        </div>



    </main>
</div>

