@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li>Bugları çözmek bir tık uzağınızda</li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>

                    <ul class="nospace clear">
                        @foreach (var item in Model)
                        {

                            <li class="one_quarter"><a href="/Blog/GetBlogDetails/@item.Id"><img src="/mainblogimage/mainblogimage.jpg" alt=""></a>@item.Name</li>
                        }


                    </ul>

                </figure>
            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>
