
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h3 class="heading">BugsByteLibrary</h3>
            <p>Buglardan Arındırılmış Bir Yazılım Deneyimi.</p>
        </div>
        <p class="btmspace-50 justified">Merhaba , BugsbyteLibray'ye hoşgeliniz , Topluluk olarak amacımız yazılıma henüz yeni başlamış kişilere buglardan arındırılmış bir yazılım deneyimi sunmak ve insanların birbirlerine bu konuda yardım etmesini sağlamak. Tabikide BugsByteLibraryde hiçbir destek ödülsüz kalmaz. Bizler sizlere kitaplar , kurslar ve dahasını sağlamaya hazırız , peki siz bu toplulukda bir Bug avcısı olmaya hazır mısınız ? Eğer öyleyseniz <a asp-controller="Blog" asp-action="Index">buradan</a> başlamaya ne dersiniz?</p>
        <ul class="nospace group center">
            <li class="one_quarter first">
                <article>
                    <a href="#"><i class="icon btmspace-30 fa fa-500px"></i></a>
                    <h6 class="heading">Güvenli</h6>
                </article>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><i class="icon btmspace-30 fa fa-adjust"></i></a>
                    <h6 class="heading">Çok Çeşitli</h6>
                </article>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><i class="icon btmspace-30 fa fa-amazon"></i></a>
                    <h6 class="heading">Hızlı</h6>
                </article>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><i class="icon btmspace-30 fa fa-apple"></i></a>
                    <h6 class="heading">Çapraz Platform</h6>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="three_quarter first">
            <h6 class="nospace">Kod Bankalarımızı Gördünüz mü</h6>
            <p class="nospace">Herkesin belirlenen modeller üzerinde bildiği kodları paylaştığı bir alanımız var , bilgin varsa paylaş , eksiğin varsa tamamla / Bizdensin</p>
        </div>
        <footer class="one_quarter"><a class="btn" href="#">Bir Kaç Banka Gezelim &raquo;</a></footer>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('images/demo/backgrounds/03.png');">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h3 class="heading">Sizler İçin Bilgilendirici Yazılar Hazırladık</h3>
            <p>Onlardan Sadece Bir Kaçı Umarım İlgini Çekerler Ve Sana Faydalı Olurlar.</p>
        </div>
        <ul class="nospace group services">
            <li class="one_third first">
                <article>
                    <a href="#"><i class="icon fa fa-camera"></i></a>
                    <h6 class="heading">Hendrerit bibendum</h6>
                    <p>Id erat etiam molestie mi et tincidunt facilisis nulla urna viverra nibh in ullamcorper&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="icon fa fa-bank"></i></a>
                    <h6 class="heading">Vestibulum suscipit</h6>
                    <p>Enim nullam tincidunt tortor eget amet dui duis sed vestibulum velit praesent blandit lorem viverra&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="icon fa fa-cny"></i></a>
                    <h6 class="heading">Velit eu maximus massa</h6>
                    <p>Turpis vel egestas ante etiam maximus placerat placerat aliquam in lectus ut lectus&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third first">
                <article>
                    <a href="#"><i class="icon fa fa-coffee"></i></a>
                    <h6 class="heading">Dignissim id maecenas</h6>
                    <p>Scelerisque sollicitudin aenean efficitur magna non aliquet convallis phasellus ut rutrum&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="icon fa fa-flask"></i></a>
                    <h6 class="heading">Tempus odio a ipsum</h6>
                    <p>Neque vivamus eu arcu enim phasellus efficitur euismod augue sed bibendum ipsum sodales&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="icon fa fa-legal"></i></a>
                    <h6 class="heading">Consequat scelerisque</h6>
                    <p>Eget aenean tellus leo consequat sit amet quam ut interdum commodo nunc nunc ipsum lacus&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h3 class="heading">Olurda İş Arayışındaysan Aşşağıdaki linke bir bak</h3>
            <a asp-controller="Hirings" asp-action="Index"> <p>Buradan İş İlanlarını Görebilirsiniz</p></a>
        </div>
        <figure>
            <ul class="nospace group logos">
                <li class="one_quarter first"><a href="#"><img src=/Jeren/"images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src=/Jeren/"images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src=/Jeren/"images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src=/Jeren/"images/demo/222x100.png" alt=""></a></li>
            </ul>
        </figure>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


