@model CreateRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Rol Ekle</h1>

<form method="post" asp-action="AddRole" asp-controller="Role">
    <label asp-for="RoleName" ></label>
    <input type="text" asp-for="RoleName" />
    <button class="btn btn-outline-success">Rolü Ekle</button>
</form>

