
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 class="page-header">Hoş Geldin Admin. Sol Taraftaki Sekmelerden Site İle Alakalı İşlemlere Ulaşabilirsin.</h1>
                <h2 class="page-header">İyi Çalışmalar</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>

