<aside class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            
                <!-- /input-group -->
            <hr />
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminDefault"><i class="fa fa-dashboard fa-fw"></i> Hoşgeldin Admin</a>
            </li>
            
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminBlog"><i class="fa fa-table fa-fw"></i>Kulanıcı Blogları</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminInformationBlog"><i class="fa fa-table fa-fw"></i>Bilgilendirici Bloglar</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminCodeBankBlog"><i class="fa fa-table fa-fw"></i>Kod Bankası Blogları</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminComments"><i class="fa fa-table fa-fw"></i>Kullanıcı Yorumları</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="UserList" asp-controller="Role"><i class="fa fa-table fa-fw"></i>Kullanıcı Listesi</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="Role"><i class="fa fa-edit fa-fw"></i> Roller</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="Book"><i class="fa fa-edit fa-fw"></i> Kitaplar</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminCourse"><i class="fa fa-edit fa-fw"></i> Kurslar</a>
            </li>
            <li>
                <a asp-area="Admin" asp-action="Index" asp-controller="AdminHiring"><i class="fa fa-edit fa-fw"></i> İş Başvuruları</a>
            </li>
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</aside>